.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 97vmin;
    overflow: auto;
    justify-content: space-between;
}

.head{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: black;
    a{
        text-decoration: none;
        color: white;
    }
}

.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.index{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1{
        text-decoration: underline;
    }
    h3{
        width: 55%;
    }
}

.content{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border: 1px solid;
    max-width: 1000px;
    h1{
        width: 600px;
        text-align: center;
    }
    input{
        height: 17px;
        width: 150px;
        text-align: center;
    }
    select{
        height: 22px;
        width: 157px;
        text-align: center;
    }
}

.row_data{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.row_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    button{
        margin: 5px;
    }
}

.column_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.data_filter{
    display: grid;
    grid-template-columns: 450px 250px 450px;
}

button{
    a{
        text-decoration: none;
        color: black;
    }
}

.a1{
    color: black;
}

.short_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    padding: 15px;
    margin: 25px;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.2;
}

.block_contents{
    display: flex;
    flex-direction: row;
}

.card_head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_body{
    display: flex;
    flex-direction: column;
    text-align: justify;
    p{
        text-indent: 25%; 
    }
    li{
        text-indent: 5%;
        margin-left: 30%;
    }
    iframe{
        align-self: center;
    }
    line-height: 0.2;
}

.group1{
    display: grid;
    text-align: center;
    grid-template-columns: 350px;
    align-content: center;
}

.group1_ind_page{
    display: grid;
    text-align: center;
    grid-template-columns: 350px;
    align-content: center;
    margin-left: 20%;
}

.group2{
    display: grid;
    text-align: center;
    grid-template-columns: 350px 350px;
    align-content: center;
}

.group3{
    display: grid;
    text-align: center;
    grid-template-columns: 350px 350px 350px;
    align-content: center;
}

.group4{
    display: grid;
    text-align: center;
    grid-template-columns: 350px 350px 350px 350px;
    align-content: center;
}

.group{
    display: grid;
    text-align: center;
    grid-template-columns: 350px 350px 350px;
}

.card_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    margin-right: 10px;
    margin-bottom: 10px;
}

.song_videos{
    display: flex;
    flex-direction: column;
    iframe{
        margin-left: 25px;
    }
}