.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 97vmin;
    overflow: auto;
    justify-content: space-between;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 50px;
    a{
        text-decoration: none;
        color: white;
    }
}

.foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

.p_footer{
    color: white;
}

.content{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border: 1px solid;
    max-width: 1000px;
    h1{
        width: 600px;
        text-align: center;
    }
}

.row_data{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.row_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    button{
        margin: 5px;
    }
}

.column_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

input{
    width: 150px;
}

select{
    width: 157px;
}

.data_filter{
    display: grid;
    grid-template-columns: 450px 250px 450px;
}

button{
    a{
        text-decoration: none;
        color: black;
    }
}